.wrapper{
  text-align: center;
}

.wrapper .img{
    margin:auto;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .img img{
    width: 30px;
    height: 30px;
}

.wrapper .product{
    padding: 30px;
}

.wrapper .product h3{
    font-weight: 500;
}

.wrapper .product p {
    font-size: 15px;
    margin-top: 20px;
    color: grey;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.img-flesh img {
    width: 350px;
    height: 400px;
}


@media (max-width: 1400px) and (min-width: 1000px){
    .img img {
        width: 155px;
        height: 160px;
    }

    .wrapper .product{
        padding: 20px;
    }
    .wrapper .product p{
        font-size: 14px;
    }

}



@media (max-width: 1000px) and (min-width: 600px){

    .img-flesh img {
        width: 220px;
        height: 250px;
    }

    .wrapper .product{
        padding: 18px;
    }
    .wrapper .product p{
        font-size: 12px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px;
    }

    .grid2 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px;
    }

}



@media (max-width: 600px) and (min-width: 320px) {

    .img-flesh img {
        width: 180px;
        height: 180px;
    }
    .wrapper .product {
        padding: 18px;
    }

    .wrapper .product p {
        font-size: 12px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .grid2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .img-flesh{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}